# Node.js dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
build/
.next/
out/

# Environment files
.env*
*.env

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store

# Vscode
.vscode/

# Uploads (optional: only if you don't want to push files in uploads)
uploads/

# OneDrive or other system files (optional)
*.lnk
*.ini



# Backend Files 
# src/config/database.js
# src/routes/products.js
# src/routes/public.js 
# src/routes/users.js
# src/middleware/adminAuth.js
# backend/package.json
# backend/.env
# src/service.js


# Frontend Files 
# src/app/products/[id]/page.tsx
# src/components/ProductCard.tsx
# src/app/layout.tsx
# src/app/page.tsx
# src/app/profile/page.tsx
# src/components/Navbar.tsx
# src/app/globals.css
